{% load static %}
<!DOCTYPE html>
<head>
    <link href="{% static 'css/styles.css' %}">
    <title>{% block title %}My Restaurant{% endblock %}</title>
</head>
<body>
            <div id="sidebar">
            {% block sidebar %}
            <ul>
                
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contact">Contact Us</a></li>
                
            </ul>
            {% endblock %}
        </div>

    <!-- Your page content goes here -->

    <div id="footer">
        {% block footer %}
        <p>© 2024 My Restaurant</p>
        {% endblock%}
    </div>
</body>
</html>
