{% extends "base.html" %}
{% load static %}

{% block content %}
<form method='post'>
    {% csrf_token %}
    
    <!-- Display each form field manually -->
    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            
            <!-- Display field-specific errors -->
            {% if field.errors %}
                <div class="error-message">
                    {{ field.errors }}
                </div>
            {% endif %}
        </p>
    {% endfor %}
    
    <button type="submit">Book Now</button>
</form>
{% endblock content %}
