{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Your Booking Details</h1>

    {% if user.is_authenticated %}
        {% if user_bookings %}
            <ul>
                {% for booking in user_bookings %}
                <li>
                    {{ booking.guest_name }} at {{ booking.table.name }} on {{ booking.booking_date|date:"d-m-Y" }} at {{ booking.booking_time }}
                    <a href="{% url 'edit-booking' booking.id %}">Edit</a>

                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No bookings found.</p>
        {% endif %}
    {% else %}
        <p>Please log in to view your bookings.</p>
    {% endif %}
</div>
{% endblock content %}
