{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% block title %}My Restaurant{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="logo">
     <h1>Spice Enjoy House</h1>
        </div>
        <nav>
            <ul>
                
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'booking-form' %}">Book a Table</a></li>
                <li><a href="{% url 'booking-details' %}">Booking Details</a></li>
                <li><a href="/contact">Contact Us</a></li>

                
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <section class="hero">
            <h2>Welcome to Our Restaurant</h2>
            <p>Discover our delicious menu and enjoy a memorable dining experience.</p>
        </section>
        <section class="about">
            <h2>About Us</h2>
            <p>We are passionate about serving fresh, locally sourced ingredients.</p>
            <p>Our cozy ambiance and friendly staff make dining with us a delight.</p>
        </section>
        <section class="specials">
            <h2>Today's Specials</h2>
            <ul>
                <li>Grilled Salmon with Lemon Butter Sauce</li>
                <li>Homemade Ravioli with Truffle Cream</li>
                <li>Tiramisu for Dessert</li>
            </ul>
        </section>
        <section class="reservation">
            <h2>Table Booking and Reservations</h2>
            <p>Book your table now for an unforgettable dining experience!</p>
            <a href="{% url 'booking-form' %}" class="cta-button">Book a Table</a>
        </section>
        {% endblock %}
    </main>
    <footer>
        <div id="footer">
        {% block footer %}
        <p>© 2024 My Restaurant. All rights reserved.</p>
        <p>Privacy Policy | Terms of Service</p>
        {% endblock %}
    </div>
    </footer>
</body>
</html>
